{% extends 'base.html.twig' %}

{% block title %}Edit County{% endblock %}

{% block body %}
    <h1>Edit County</h1>

    {{ include('county/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('county_index') }}">back to list</a>

    {{ include('county/_delete_form.html.twig') }}
{% endblock %}
