{% extends 'base.html.twig' %}

{% block title %}New County{% endblock %}

{% block body %}
    <h1>Create new County</h1>

    {{ include('county/_form.html.twig') }}

    <a href="{{ path('county_index') }}">back to list</a>
{% endblock %}
