{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 style="padding: 15px">Les trouvailles dans le département : {{ county.label }}</h1>

    <section class="row" style="margin-top: 20px">
        {% for traobject in county.traobjects %}
            <article class="col-md-3">
                {% include 'traobject/card.html.twig' %}
            </article>
        {% endfor %}
    </section>


{% endblock %}