{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 style="padding: 15px">Les trouvailles dans la catégorie : {{ category.label }}</h1>

        <section class="row" style="margin-top: 20px">
            {% for traobject in category.traobjects %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' %}
                </article>
            {% endfor %}
        </section>



{% endblock %}
