{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Les trouvailles dans la catégorie : {{ category.label }}</h1>

    <section class="row">
        {% for traobject in category.traobjects %}
            <article class="col-md-3">
                {% include 'traobject/card.html.twig' %}
            </article>
        {% endfor %}
    </section>



    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
