{% extends "base.html.twig" %}

{% block body %}

    <header class="header-home">
        <div class="container header-home-container">
            <h1>Traoùvé, premier service d'objets trouvés en Bretagne</h1>
            <p>Déposez une annonce ou retrouvez un objet perdu grâce à notre communauté. Déjà <strong>4521</strong>
                objets
                retrouvés grâce à notre plateforme de mise en relation !</p>
            <section class="row">
                <article class="col-md-4">
                    <a class="btn btn-primary" href="form-lost.html">
                        <i class="fa fa-plus-circle"></i>
                        <h2>Créer un avis de recherche</h2>
                    </a>
                </article>
                <article class="col-md-4">
                    <a class="btn btn-info" href="{{ path('traobject_new') }}">
                        <i class="fa fa-map-pin"></i>
                        <h2>Déclarer un objet trouvé</h2>
                    </a>
                </article>
                <article class="col-md-4">
                    <a class="btn btn-danger" href="form-search.html">
                        <i class="fa fa-search"></i>
                        <h2>Rechercher un objet perdu</h2>
                    </a>
                </article>
            </section>
        </div>
    </header>

    <div class="container">
        <h2>Les derniers objets trouvés</h2>
        <section class="row">
            {% for traobject in traobjectsFound %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' %}
                </article>
            {% endfor %}
        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus</h2>
        <section class="row">
            {% for traobject in traobjectsLost %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' %}
                </article>
            {% endfor %}
        </section>
    </div>

{% endblock %}
