{% extends 'base.html.twig' %}

{% block title %}New Traobject{% endblock %}

{% block body %}
    <h1>Create new Traobject</h1>

    {{ include('traobject/_form.html.twig') }}

    <a href="{{ path('traobject_index') }}">back to list</a>
{% endblock %}
