{% extends "base.html.twig" %}
{% block body %}
    <h1 style="padding:15px">Objets perdus</h1>
    <section class="row" style="margin-top: 20px">
        {% for traobject in traobjects %}
            <article class="col-md-3">
                {% include 'traobject/card.html.twig' %}
            </article>
        {% endfor %}
    </section>

{% endblock %}
